* {
    box-sizing: border-box;
}

body {
  background-image:linear-gradient(black,darkgrey,grey,darkgrey,black);
  color: white;
  font-family: "Josefin Sans";
  
}

/* NAVBAR */
navbar {
    position: sticky;
    z-index: 999;
    top: 0;
}

.navbar-bg {
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 10vh;
    position: relative;
    filter:blur(50px);
}

.navbar-content {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.navlist {
  display: flex;
  gap: 5vh;
  list-style-type: none;
  
}

.navlist a {
  color: white;
  text-decoration: none;
  
  
}

/* NAVBAR END */

/* HOME */

.home {
 display: flex;
    margin: 5%;
    padding: 5%;
    
}

.introduction {
    display: flex;
    gap: 5%;
    font-size: 200%;
    flex-flow:wrap;


}

.introduceline {
    display: flex;
    flex-direction: row;
    gap: 5%;
    block-size: auto;
}

.introduce, .introducept2, .introducept3, .introducept4 {
    display: flex;
}

.pfpclass img {
    width: 45%;
    padding-right: 5%;
    object-fit: cover;
    border-radius: 50%;
}

.pfpclass {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.introduceline span:hover {
    color: white;
    text-shadow: 0 0 5px black;
}

/* HOME END */

/* ABOUT */

.about {
    margin: 5%;
}

.about h1 {
    font-size: 2.5rem;
}

.about-content {
    display: flex;
    justify-content:space-evenly;
    gap: 15%;
}

.admin-photo {
    margin-left: 5%;
    width: 25%;
    border-start-end-radius: 50%;
    border-end-start-radius: 50%;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.admin-photo:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    box-shadow: 0 0 10px black;
}

.admin-link a {
    color: white;
    text-decoration: none;
    font-size: 115%;
}

.admin-link {
    display: flex;
    gap: 2%;
    
}

/* ABOUT END */

/* PROJECTS */

