* {
    box-sizing: border-box;
}

body {
  background-image:linear-gradient(black,darkgrey,grey,darkgrey,black);
  color: white;
  font-family: "Josefin Sans";
  
}

/* NAVBAR */
navbar {
    position: sticky;
    z-index: 999;
    top: 0;
}

.navbar-bg {
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 10vh;
    position: relative;
    filter:blur(50px);
}

.navbar-content {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.navlist {
  display: flex;
  gap: 5vh;
  list-style-type: none;
  
}

.navlist a {
  color: white;
  text-decoration: none;
  
  
}

/* NAVBAR END */

/* HOME */

.home {
 display: flex;
    margin: 5%;
    padding: 5%;
    
}

.introduction {
    display: flex;
    gap: 5%;
    font-size: 200%;
    flex-flow:wrap;


}

.introduceline {
    display: flex;
    flex-direction: row;
    gap: 5%;
    block-size: auto;
}

.introduce, .introducept2, .introducept3, .introducept4 {
    display: flex;
}

.pfpclass img {
    width: 45%;
    padding-right: 5%;
    object-fit: cover;
    border-radius: 50%;
}

.pfpclass {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.introduceline span:hover {
    color: white;
    text-shadow: 0 0 5px black;
}

/* HOME END */

/* ABOUT */

.about {
    margin-inline: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.about h1 {
    font-size: 2.5rem;
}

.about-content {
    display: flex;
    justify-content:space-evenly;
    gap: 15%;
}

.admin-photo {
    margin-left: 5%;
    width: 25%;
    border-start-end-radius: 50%;
    border-end-start-radius: 50%;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.admin-photo:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: 0 0 10px black;
}

.admin-link a {
    color: white;
    text-decoration: none;
    font-size: 115%;
}

.admin-link {
    display: flex;
    gap: 2%;
    
}

/* ABOUT END */

/* PROJECTS */

.project {
    margin-inline: 15%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.project h1 {
    font-size: 2.5rem;
}


.project img {
    width: 25%;
    z-index: 2;
}

.project-content-venti {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20%;
}


.content-bg {
    position: absolute;
    background-color: rgba(15, 9, 9, 0.5);
    background-size: cover;
    background-position: center;
    padding-right: 20rem;
    padding-left: 20rem;
    padding-top: 10rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.project-result-venti {
    position: absolute;
    background-image:url(../assets/Screenshot_2025-02-08_145703.png);
    background-position: center;
    background-size: cover;
    padding-inline: 35%;
    background-repeat: none;
    border-radius: 10px;
    z-index: 10;
}

.project h2 {
    text-shadow: 0 0 10px black;
}

.btn-project {
    display: none;
}

.project-content-venti:hover .content-bg {
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    background-color: rgba(15, 9, 9, 0.7);
    padding-top: 10rem;
    padding-bottom: 5rem;
}
.project-content-venti:hover .project-result-venti {
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    background-color: rgba(15, 9, 9, 0.7);
    padding-top: 12rem;
    background-position: center;
    background-size: cover;
}

.project-content-venti:hover h2 {
    font-size: 0;
}

.project-content-venti:hover .btn-project {
    display: inline;
    bottom: 50%;
    transform: translateY(1rem);
    transition: all 0.5s;
}
.project-content-venti:hover .project-result-inazuma {
    filter:blur(20px);
}

.project-content-inazuma {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20%;
}


.content-bg-inazuma {
    position: absolute;
    background-color: rgba(15, 9, 9, 0.5);
    background-size: cover;
    background-position: center;
    padding-right: 20rem;
    padding-left: 20rem;
    padding-top: 10rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.project-result-inazuma {
    position: absolute;
    background-image:url(../assets/Screenshot_2025-02-08_150124.png);
    background-position: center;
    background-size: cover;
    padding-inline: 35%;
    background-repeat: none;
    border-radius: 10px;
    z-index: 10;
}

.project h2 {
    text-shadow: 0 0 10px black;
}

.btn-project {
    display: none;
}

.project-content-inazuma:hover .content-bg-inazuma {
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    background-color: rgba(15, 9, 9, 0.7);
    padding-top: 10rem;
    padding-bottom: 5rem;
}
.project-content-inazuma:hover .project-result-inazuma {
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    background-color: rgba(15, 9, 9, 0.7);
    padding-top: 12rem;
    background-position: center;
    background-size: cover;
}

.project-content-inazuma:hover h2 {
    font-size: 0;
}

.project-content-inazuma:hover .btn-project {
    display: inline;
    bottom: 50%;
    transform: translateY(1rem);
    transition: all 0.5s;
}


.btn-project {
    background-color: white;
    border-radius:50px;
    border: none;
    padding-block: 0.4rem;
    padding-inline: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    z-index: 11;
    
}

.btn-project a {
    color: black;
    text-decoration: none;
}